html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wholeScreen {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transition: background-color 0.5s;
  color: green;

}

.content {
  display: flex;
  height: 20rem;
  width: 20rem;
  flex-direction: column;
  justify-content: center;
}

.time {
  font-size: 8rem;
  text-align: center;
}

.type {
  text-align: center;
  font-size: 2rem;
}